# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output directories
bin/
build/

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE/editor specific files
.vscode/
.idea/
*.swp

# Logs
*.log

# Temporary files
*.tmp
*.temp